@charset "utf-8";
/* 通用样式 */
*{margin:0;padding:0;border:none;list-style:none;outline:none;}
body { font-size: 14px; font-family: "微软雅黑";  padding: 0; margin: 0; color: #535353; }
div, form, ul, dd, dl, ol, dt, li, p { list-style: none; padding: 0; margin: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; margin: 0; padding: 0; font-weight: normal; }
table { border-collapse: separate; border-spacing: 0; }
table, td, th { vertical-align: middle; }
textarea, input, button, select, keygen, legend { outline: 0; margin: 0; padding: 0;}
img{border:none;vertical-align:bottom;}
input[type="button"],input[type="submit"],input[type="reset"]{-webkit-appearance:none;outline:none;}
a { text-decoration: none;  cursor: pointer; }
a:hover { text-decoration: none; }
.clear { width: 0; height: 0; margin: 0; padding: 0; line-height: 0px; font-size: 0px; clear: both;}
.none { display: none; }
.left { float: left; }
.right { float: right; }
.red{ color: #f00;}




/*顶部图片  */
	header div:first-child{
	width: 100%;
	height: 33px;
	background:url("imgs/headertop.jpg") repeat-x;
	}

	header div:last-child{
	width: 100%;
	height: 140px;
	text-align: center;
	min-width: 980px;	
	overflow: hidden;
		
	}

	.navbg{
		width: 100%;
		height: 100%;
		background-color: #724226;
	}
	/*不跟宽度一起动?*/
	.navbg nav{
		width: 1000px;
		height: auto;
		margin:0 auto;
		
		
	}
	nav ul li{
		list-style-type: none;
		display: inline-block;
		padding: 10px;
		font-size: 16px;
		font-family: "微软雅黑";
	
		
	}
	nav ul li:not(:last-child){
		list-style-type: none;
		display: inline-block;
		padding: 15px;
		background: url(imgs/navline.jpg) no-repeat right;
	}

	nav ul li a{
		color: #fff;
		padding-left:10px;

	}
	#space{
		width:100px;
		height: 10px;
	}
	.bgcolor{
		width: 100%;
		height: 100%;
		background: #fdf9f4;
	}
	.navbgcolor{
		width: 100%;
		max-width: 1440px;
		height:300px;
		background-color:#9e6442;
		margin: 0 auto;
	}
	.search{width: 50px;
	}
	.left1{
		font-family: "微软雅黑";
		font-size: 18px;
		 color:#e2651b;
		 font-weight: bold;
		 padding-right: 430px;
	}
	/*10大关注焦点话题*/
	#section1{

		padding:10px 10px 0 10px;
		width: 960px;
		height: 140px;
		background-color: #f7eae2;
		margin: 0 auto;
	}
	.section1_title{
		width: 930px;
		height: 23px;
		overflow: hidden;
	}
	#input1{
		width: 170px;
		height: 23px;
	}
	#d1{
		width: 65px;
		height: 23px;
		background-color:#724226;
		margin-right: 10px;
		color: #fff;
		text-align:center;
		line-height: 23px;
	}
	#d2{
		width: 80px;
		height: 23px;
		background-color:#e2651b;
		color: #fff;
		text-align: center;
		line-height: 23px;
	}
	#section1 ul li{
		list-style-type: none;
		display: inline-block;
		padding: 6px;
		margin-bottom: 10px;
	}

	#section1 ul li a{
		 color: #646464;
		 font-family:"宋体";
	}


	#s1{
		display: inline-block;
		width: 20px;
		height: 20px;
		font-family: "宋体";
		background-color:#e2651b;
		color: #fff;
		text-align: center;
		line-height: 20px;
	}
	#s2{
		display: inline-block;
		width: 20px;
		height: 20px;
		font-family: "宋体";
		background-color:#724226;
		color: #fff;
		text-align: center;
		line-height: 20px;
	}
	#s3{
		display: inline-block;
		width: 20px;
		height: 20px;
		font-family: "宋体";
		background-color:#646464;
		color: #fff;
		text-align: center;
		line-height: 20px;
	}
	/*银屑病导航*/
	#section2{
	
		width: 960px;
		height: 140px;
		background-color: #724226;
		margin:0 auto;
		padding-right:20px;
		 color:  #fff;	
	}
	#section2 ul li{
		list-style-type: none;
		display: inline-block;
		padding: 6px;
		margin-bottom: 10px;

	}

	 #s2d1{
	 	display: block;
  		width: 25%;
  		height: 100px;
  		text-align: center;
  	}

	#ss1{
		font-size: 18px;
		color:  #fff;
	}

	#ss2{
		font-size: 2px;
		color:  #fff;
	}
	#ss3{
		padding-right:8px;
		color:  #fff;
	}
	#ss4{
		padding-right:15px;
		color:  #fff;
	}
	/*医院动态切换*/

	#section3{
	
		width: 960px;
		height: 420px;
		background-color:#fff;
		margin:0 auto;
		padding-right:20px;
		color:  #fff;
	}
	#s3l1{
		width: 700px;
		height: 420px;

	}

	#right-1{
		width: 400px;
		height: 300px;
		background-color:#fff; 
	}
	#s3s1 a{
		font-size: 18px;
		color: #9b7f71;
		line-height: 50px;
		margin-right: 20px;
	}
	.doChange{
		border-bottom: 1px solid #eaeaea;
	}

	.doChange p:first-child{
		font-family: "微软雅黑"; 
		font-size:14px;
		color:#818181;
		margin: 15px 0;
		text-align: center;
	}
	
	 .doChange p:last-child{	padding-left: 10px;
	 	font-family: "宋体";
		font-size:12px;
		color:#818181;
		margin-bottom: 20px;
		overflow: hidden;	
	}

	#section3 ul>li{
		padding:10px 10px 0 10px;
		
		font-size:14px;
		color:#818181;
		overflow: hidden;
	}
	#s3right{
		width: 260px;
		height:420px;
		background-color: #fff;
		overflow: hidden;
	}
	#s3right img{
		margin-left: 20px;
	}

	#s3f3{
		padding-top: 20px;
		font-size:12px;
		color:#818181;
		text-align: center;
		overflow: hidden;
		padding-bottom:10px;
	}
	#s3logo{
		padding-left:3px;
		width:44px ;
		height: 44px;
	}
	#s3f4{
		padding-left: 15px;
		height: 44px;
		line-height: 44px;	
	}
	#s3f4 a{
		font-size: 14px;
		color:#724226;
	}

	/*聚焦卫生部 */

	#section4{
		width: 960px;
		height: 780px;
		background-color:#fff;
		margin:0 auto;
		padding-right:20px;
		 color:  #fff;
	}
	#h2{
		width: 980px;
		height: 64px;
		background-color: #fff;
		border-bottom: 2px solid #f9f9f9;
	}
	#section4 h2>span{
		width:545px;
		height:64px;
		font-size: 16px;
		color:#646464;
		line-height: 64px;
		padding-right: 30px;
		overflow: hidden;
	}
	#qq img{
		padding-bottom: 15px;
	
	}
	#s4d1{
		width:424px ;
		height:304px;
		background-color:#724226 ;
		margin: 28px 8px 8px;

	}	

	
	#s4d2{ width:505px;
			height: 300px ;
			font-size:12px;
			color: #646464;
	}
	#s4d2 img{
		margin: 28px 0 25px;
		overflow: hidden;
	}
	.s4p1{
		font-size: 12px;
		line-height: 20px


	}
	#s4d3{
		width: 980px;
		height:181 ;
	}
	#s4border{
		width: 224px;
		height:155px;
		background-color:#724226 ;
		margin: 20px 10px 5px;
	}
	#section4 ul li{
		display: inline-block;
		list-style-type: none;
		font-size: 12px;
		color:#646464;
		padding:3px 25px;
	}


	/*戴礼  做切换 罗兰珍*/
	#section5{
		width: 960px;
		height: 560px;
		background-color:#fff;
		margin:0 auto;
		padding-right:20px;
		 color:  #fff;
	}

	#section5 h2>span{
		width:545px;
		height:64px;
		font-size: 16px;
		color:#646464;
		line-height: 64px;
		overflow: hidden;
		margin-right: 10px;


	}
	.doChanged2l span{
		width:65px ;/*	设了span的宽高貌似没用*/
		height: 25px;
		background-color:#724226 ;
		color: #fff;
		font-size: 16px;
		font-family: "微软雅黑"; 
		padding: 5px; 
		margin: 5px;
		

	}

	/* #phone{
		margin:0 10px 0 10px;
	} */

	 #dl{
	
		width: 960px;
		height: 405px;
		background:url(imgs/section5bg.jpg);
		margin: 30px 5px;


	}
	

	#section5 ul {
		width: 250px;
		height:100px;
		position: relative ;
		left:520px; top:180px;

	}
	#section5 ul li{
		font-size: 12px;
		color: #9b9b9b;
		padding:5px;
	}
	#section5 ul~span{
	position: relative;
	left:500px; top:260px;

	}

	#section5 ul~span>input{
		margin-right: 20px;

	}


	/* 罗兰珍  */
	#llz{
		width: 960px;
		height: 405px;
		background:url(imgs/section5llz.jpg);
		margin: 30px 5px;


	}

	
	
	/* 规范化技术 */
	#section6{
		width: 980px;
		height: 775px;
		background-color: #fff;
		margin: 5px auto 0;
	}
	#section6 > div:first-child {
		border-bottom: 1px solid #eaeaea;
		padding-bottom: 5px;
	}
	#section6 > div:first-child > img:first-of-type{
		margin: 10px;
	}
	#section6 > div:first-child > span:first-of-type{
		font-family: "[MStiffHeiPRC]";
		font-size: 29px;
		position: relative;
		top: -13px;
	}
	#section6 > div:first-child > img:nth-of-type(2){
		margin: 0 10px 0 20px;
		position: relative;
		top: -13px;
	}
	#section6 > div:first-child > span:nth-of-type(2){
		font-size: 16px;
		position: relative;
		top: -15px;
		color: #c4c4c4;
	}
	#section6 > div:first-child > img:last-of-type{
		position: relative;
		top: -4px;
		margin: 0 0 0 80px;
	}
	#section6 > div:first-child > span:last-of-type{
		font-size: 24px;
		position: relative;
		top: -13px;
		color: #e2651b;
	}
	#section6 > div:last-child > img{
		margin-left: 15px;
	}
	#section6 > div:nth-child(2) div{
		font-size: 28px;
		text-align: center;
		margin: 10px 0;
	}
	#section6 > div:nth-child(2) >div img{
		border-left: 1px solid #dcdcdc;
		padding-left: 10px;
	}
	#section6 > div:nth-child(2) > p{
		font-family: "宋体";
		font-size: 12px;
		text-indent: 24px;
		line-height: 22px;
		margin: 0 15px;
	}
	#section6 > div:nth-child(2) > p > a{
		color: #e2651b;
	}
	.pstyle{/* 通用段落样式 */
		display: block;
		font-size: 1.2rem;
		text-indent: 2.4rem; 
		color: #a8a8a8;
		line-height: 22px;
		font-family: "宋体";
		
	}
	.pstyle a{
		color: #e2651b;
		font-size: 1.2rem;
		font-family: "宋体";
	}
	.gfhjs_body{
		width: 955px;
		margin: 25px auto;
		height: 447px;
		overflow: hidden;
	}
	.gfhjs_body>ul{
		display: inline-block;
		width: 175px;
		height: 447px;
	}
	.gfhjs_body>ul li:not(.gfhjs_checked){
		width: 169px;
		height: 88px;
		background-color: #9b9b9b;
		text-align: center;
		color: #fff;
		margin-left: 6px;
		
	}
	.gfhjs_body>ul li:not(:first-child){
		margin-top: 2px;
	}
	.gfhjs_body>ul li span{
		display: inline-block;
	}
	.gfhjs_body>ul li span:first-child{
		font-size: 16px;
		font-family: "宋体";
		margin-top: 32px;
	
	}
	.gfhjs_body>ul li span:last-child{
		font-size: 8px;
		font-family: "Arial";
		font-variant:small-caps;
		margin-top: 5px;
	}
	.gfhjs_checked{
		width: 175px;
		height: 88px;	
		text-align: center;
		color: #fff;	
		background:url(imgs/brown_bg.png);
	}
	
	.sjjc,.wdzl,.sdzl,.bdkf,.pk{
		width: 765px;
		height: 447px;
		margin-right: 15px;
		float: left;
	
	}
	/* 三级检测 */
	
	.sjjc ul{
		width: 765px;
		height: 220px;
		display: inline-block;
		margin-bottom: 26px;
	}
	.sjjc ul>img{
		margin-top: 45px;
		float: left;
	}
	.sjjc li{
		width: 175px;
		float: left;
		margin-right: 3px;
	}
	
	.sjjc li span{
		display: block;
		font-family: "宋体";
		color: #515151;
	}
	.sjjc li span:first-of-type{
		font-size: 16px;
		text-align: center;
		border-bottom: 1px solid #ddd;
		font-weight: bold;
		padding-bottom: 5px;
		margin-bottom: 15px;
	}
	.sjjc li span:last-of-type{
		font-size: 12px;
		line-height: 22px;
	}
	
	.sjjc li:last-child{
		width: 200px;
		margin-right: 0;
	}
	.sjjc li:last-child span:first-of-type{
		color: #724226;
	}
	.sjjc>div:first-of-type{
		width: 389px;
		height: 199px;
		display: inline-block;
		background-color: #f9f9f9;
		float: left;
		margin-right: 6px;
	}
	.sjjc>div:first-of-type span{
		display: block;
		height: 40px;
		line-height: 40px;
		background-color: #724226;
		color: #fff;
		padding-left: 25px;
	}
	.sjjc>div:first-of-type span:before{
		content: url(imgs/3ji_logo.png);
		position: relative;
		top: 6px;
		left: -5px;
	}
	.sjjc>div:first-of-type p{
		margin:30px auto;
		color: #515151;
	}
	#sjjcp{
		font-size: 12px;
		font-family:"宋体"; 
	}
	#sjjcp>a{
		font-size: 12px;
		font-family:"宋体"; 
	}
	.sjfx{
		width: 370px;
		height: 220px;
		display: inline-block;
		font-family: "宋体";
		font-size: 12px;
		line-height: 22px;
		float: left;
	}
	.sjfx div:first-child{
		height: 68px;
		color:#fff;
		background-color: #e2651b;
	}
	.sjfx div:first-child span:first-child{
		font-size: 36px;
		font-family: "黑体";
		display: inline-block;
		line-height: 68px;
		float: left;
	}
	.sjfx div:first-child span:last-child{
		margin-top: 12px;
		width: 200px;
		float: left;
		display: inline-block;
	}
	.sjfx div:nth-child(2){
		height: 56px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #e2651b;
		border-right: 1px solid #e2651b;
	}
	.sjfx div:nth-child(2) span:first-child{
		width: 38px;
		height: 46px;
		display: inline-block;
		background-color: #e2651b;
		color: #fff;
		text-align: center;
		float: left;
		padding: 5px 15px;
	}
	.sjfx div:nth-child(2) span:last-child{
		display: inline-block;
		width: 270px;
		height: 46px;
		float: left;
		padding: 5px 15px;
	
	}
	.sjfx div:last-child{
		height: 71px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #e2651b;
		border-right: 1px solid #e2651b;
	}
	.sjfx div:last-child span:first-child{
		width: 38px;
		height: 47px;
		display: inline-block;
		background-color: #e2651b;
		color: #fff;
		text-align: center;
		float: left;
		padding: 12px 15px;
	}
	.sjfx div:last-child span:last-child{
		display: inline-block;
		width: 270px;
		height: 61px;
		float: left;
		padding: 5px 15px;
	}
	/* 五大治疗优势 */
	.wdzl>div{
		float: left;
		display: inline-block;
	}
	.wdzl_item{
		display: inline-block;
		width: 270px;
		height: 66px;
		margin:0 5px 15px ;
	}
	.wdzl_item span{
		float: left;
		display: inline-block;
	}
	.wdzl_item>span:first-child{
		font-size: 55px;
		color: #e2651b;
		width: 32px;
		height: 66px;
		line-height: 66px;
	}
	.wdzl_item>span:last-child{
		width: 238px;
		height: 66px;
	}
	.wdzl_item>span:last-child span:first-child{
		font-size: 16px;
		color: #e2651b;
		height: 22px;
		line-height: 22px;
	
	}
	.wdzl_item>span:last-child span:last-child{
		font-size: 12px;
		color: #919191;
		font-family: "宋体";
		line-height: 22px;
	}
	.wdzl>div:first-child,.wdzl>div:nth-child(3){
		width: 270px;
	}
	.wdzl>div:nth-child(2){
		width: 210px;
		margin-top: 20px;
	}
	.wdzl>div:last-of-type{
		width:765px;
		height: 179px;
		display: inline-block;
		background-color: #f9f9f9;
		float: left;
		margin-top: 20px;
	}
	.wdzl>div:last-of-type span{
		display: block;
		height: 40px;
		line-height: 40px;
		background-color: #724226;
		color: #fff;
		padding-left: 25px;
		font-size: 17px;
	}
	.wdzl>div:last-of-type span:before{
		content: url(imgs/5da_logo.png);
		position: relative;
		top: 6px;
		left: -5px;
	}
	.wdzl>div:last-of-type p{
		margin:30px auto;
		color: #515151;
	}
	#wdzlp{
		font-size: 12px;
		font-family:"宋体";
	}
	#wdzlp>a{
		font-size: 12px;
		font-family:"宋体";
	}
	/* 三大治疗准则 */
	
	.sdzl>div:not(:first-child){
		margin-left: 7px;
	}
	.sdzl_item{
		display: inline-block;
		width: 250px;
		height: 447px; 
		background-color: #f9f9f9;
		float: left;
	}
	.sdzl_item>span{
		background-color: #724226;
		text-align: center;
		color: #fff;
		height: 40px;
		font-size: 16px;
		line-height: 40px;
		display: block;
	}
	.sdzl_item>div{
		width: 235px;
		height: 186px;
		margin:0 auto;
	}
	.sdzl_item>div div{
		margin-top: 25px;
	}
	.sdzl_item>div span{
		font-size:14px;
	}
	
	.sdzl_item img{
		display: block;
		margin: 0 auto 12px;
	}
	
	.sdzl>div:nth-child(2)>div span{
		background-color: #f2f2f2;
		margin-left: 5px;
	}
	.num{
		display: inline-block;
		width: 15px;
		height: 15px;
		text-align: center;
		line-height: 15px;
		background-color: #e2651b;
		color: #fff;
	}
	/* 八大康复项目 */
	
	.bdkf>div:first-child{
		font-size: 30px;
		height: 50px;
		color:#724226;
		text-align: center;
		line-height: 50px;
	}
	.bdkf>div:first-child span{
		position: absolute;
		font-size: 12px;
		color:#f57800;
		margin: 5px 80px;
	}
	.bdkf>div:first-child span:before{
		content: url(imgs/logo10.png);
	}
	.bdkf>div:nth-child(2){
		font-size: 14px;
		color: #fff;
		background-color: #e2651b;
		height: 25px;
		line-height: 25px;
		padding: 5px 10px;
		margin-bottom: 10px;
	}
	.bdkf>div:nth-child(2) span{
		margin-right:15px; 
	}
	.bdkf>div:nth-child(2) img{
		position: relative;
		top: -7px;
	}
	.bdkf>div:last-child{
		display: flex;
		justify-content:space-between;
	}
	.bdkf>div:last-child>div{
		width: 126px;
		height: 347px;
		background-color: #f9f9f9;	
	}
	.bdkf>div:last-child>div img{
		width: 126px;	
	}
	.bdkf>div:last-child>div p{
		text-indent: 0;
		margin: 30px auto;
		color: #444;
		width: 110px;
	}
	.badakf p{
		font-size: 12px;
		font-family:"宋体";
	}
	.badakf p a{
		font-size: 12px;
		font-family:"宋体";
	}
	
	/* pk */
	.pk{
		display: inline-block;	
	}
	.pk table{
		text-align: center;
		width: 765px;
		height: 447px;
	
	}
	.pk tr:not(:last-child) td{
		border-bottom: 1px solid #eee;
	}
	.pk tr:not(:first-child) td{
		font-size: 14px;
		font-family: "宋体";
	}
	
	.pk tr td:first-child{
		width: 330px;
		background-color: #f9f9f9;
		color: #676767;
	}
	.pk tr td:nth-child(2){
		width: 105px;
		color: #724226;
		font-weight: bold;
	}
	.pk tr td:last-child{
		width: 330px;
		background-color: #fdf9f4;
		color: #e2651b;
	}
	.pk tr:first-child td{
		font-size: 30px;
	}
	.gfhjs>div:last-of-type{
		width: 955px;
		margin:0 auto;
	}

		/* 康复案例  */
	#section7{
		width: 980px;
		height: 520px;
		background-color: #fff;
		margin: 5px auto 0;
	}


	#section7 h2>span{
		width:545px;
		height:64px;
		font-size: 16px;
		color:#646464;
		line-height: 64px;
		padding-right: 30px;
		overflow: hidden;

	}
	#section7 h2>span img{
		padding-left: 80px;

	}

	#section7 > div:first-child {
		border-bottom: 1px solid #eaeaea;
		padding-bottom: 5px;
	}
	#section7 > div:first-child > img:first-of-type{
		margin: 10px;
	}
	#section7 > div:first-child > span:first-of-type{
		font-family: "[MStiffHeiPRC]";
		font-size: 29px;
		position: relative;
		top: -13px;
	}
	#section7 > div:first-child > img:nth-of-type(2){
		margin: 0 10px 0 20px;
		position: relative;
		top: -13px;
	}
	#section7 > div:first-child > span:nth-of-type(2){
		font-size: 16px;
		position: relative;
		top: -15px;
		color: #c4c4c4;
	}
	#section7 > div:first-child > img:last-of-type{
		margin: 0 0 0 200px;
	}
	#section7 > div:first-child > span:last-of-type{
		font-size: 24px;
		position: relative;
		top: -13px;
		color: #e2651b;
	}
	#section7 > div:nth-child(2){
		margin: 20px 0;
	}
	#section7 > div:nth-child(2) > div > div{
		width: 237px;
		height: 231px;
		border:1px solid #dddddd;
		display: inline-block;
		margin-right: 3px;
		margin-bottom: 25px;
		background-color: #f9f9f9;
	}
	#section7 > div:nth-child(2) > div > div > div{
		width: 238px;
		height: 152px;
		background-color: #724226;
	}
	#section7 > div:nth-child(2) > div > div > p:first-of-type{
		font-family: "宋体";
		font-size: 14px;
		color: #724226;
		margin: 10px 10px;
	}
	#section7 > div:nth-child(2) > div > div > p:last-of-type{
		font-family: "宋体";
		font-size: 12px;
		text-indent: 24px;
		line-height: 20px;
		margin: 0 10px;
	}
	#section7 > div:nth-child(2) > div > div > p a{
		color: #e2651b;
	}
	#section7> div:nth-child(3) img{
		margin-left: 80px;
	}
	#section7 > div:last-child img{
		margin-left: 110px;
	}

	#section8{
		width: 980px;
		height: 730px;
		background-color: #fff;
		margin: 10px auto 0;
	}
	
	#section8 h2>span{
		width:545px;
		height:64px;
		font-size: 16px;
		color:#646464;
		line-height: 64px;
		padding-right: 30px;
		overflow: hidden;

	}
	#section8 h2>span img{
		padding-left: 80px;

	}
	
	.jt {
		width: 740px;
		height: 622px;
		display: inline-block;
	}
	/*银屑病分型*/
	
	.jtd1{
		width: 365px;
		height: 300px;
		margin: 20px 0 0 0;
	}
	.jtdtbg{
		width: 355px;
		height: 35px;
		background-color: #f1ece9;
		margin: 20px 10px;
	}
	.jtdtbg> div:first-of-type{
		width: 115px;
		height: 35px;
		background-color: #724226;
		text-align: center;
	}
	.jtdtbg> div:first-of-type > span{
		color: #fff;
		font-size: 18px;
		line-height: 35px;
	}
	.jtd1> div:nth-of-type(2){
		color: #939393;
		font-size: 12px;
		font-family: "宋体";
		text-align: center;
	}
	.jtd1 > div:nth-of-type(2) > span{
		background-color: #724226;
		color: #fff;
	}
	.jtd1 > p:first-of-type > div{
		width: 50px;
		height: 12px;
		background-color: #724226;
		color: #fff;
	}
	.jtd1 > div:first-of-type > span{
		font-family: "宋体";
		font-size: 14px;
		position: relative;
		top: -25px;
		left: 320px;
	}
	.jtd1 > div:nth-of-type(3){
		width: 160px;
		height: 110px;
		background-color: #724226;
		margin: 10px;
		display: inline-block;
	}
	.jtd1 > div:last-of-type{
		width: 180px;
		height: 90px;
		display: inline-block;
		position: relative;
		top: -25px;
		left: -3px
	}
	.jtd1 > div:last-of-type > span{
		font-family: "宋体";
		font-size: 14px;
		line-height: 30px;
	}
	.jtd1 > div:last-of-type > p{
		color: #939393;
		font-size: 12px;
		font-family: "宋体";
		text-indent: 24px;
		line-height: 22px;
	}
	.jtd1 > div:last-of-type > p > a{
		color:#e2651b;
	}
	.jtd1> p{
		color: #939393;
		font-size: 12px;
		font-family: "宋体";
		line-height: 22px;
		position: relative;
		left: 10px;
	}
	.jtd1 > p > img{
		position: relative;
		top: -5px;
		margin-right: 5px;
	}
	.jtd1 > p > a{
		color: #939393;
		margin: 0 0 0 80px;
	}
	/*银屑病人群*/
	.jtd2{
		width: 365px;
		height: 300px;
		margin: 20px 0 0 0;
		position: relative;
		top:-320px;
		left: 370px;
	}
	.jtd2tbg{
		width: 355px;
		height: 35px;
		background-color: #f1ece9;
		margin: 20px 10px;
	}
	.jtd2tbg> div:first-of-type{
		width: 115px;
		height: 35px;
		background-color: #724226;
		text-align: center;
	}
	.jtd2tbg > div:first-of-type > span{
		color: #fff;
		font-size: 18px;
		line-height: 35px;
	}
	.jtd2> div:nth-of-type(2){
		color: #939393;
		font-size: 12px;
		font-family: "宋体";
		text-align: center;
	}
	.jt > div:nth-child(2) > div:nth-of-type(2) > span{
		background-color: #724226;
		color: #fff;
	}
	.jtd2> p:first-of-type > div{
		width: 50px;
		height: 12px;
		background-color: #724226;
		color: #fff;
	}
	.jtd2 > div:first-of-type > span{
		font-family: "宋体";
		font-size: 14px;
		position: relative;
		top: -25px;
		left: 320px;
	}
	.jtd2> div:nth-of-type(3){
		width: 160px;
		height: 110px;
		background-color: #724226;
		margin: 10px;
		display: inline-block;
	}
	.jtd2 > div:last-of-type{
		width: 180px;
		height: 90px;
		display: inline-block;
		position: relative;
		top: -25px;
		left: -3px
	}
	.jtd2 > div:last-of-type > span{
		font-family: "宋体";
		font-size: 14px;
		line-height: 30px;
	}
	.jtd2 > div:last-of-type > p{
		color: #939393;
		font-size: 12px;
		font-family: "宋体";
		text-indent: 24px;
		line-height: 22px;
	}
	.jtd2 > div:last-of-type > p > a{
		color:#e2651b;
	}
	.jtd2 > p{
		color: #939393;
		font-size: 12px;
		font-family: "宋体";
		line-height: 22px;
		position: relative;
		left: 10px;
	}
	.jtd2 > p > img{
		position: relative;
		top: -5px;
		margin-right: 5px;
	}
	.jt > div:nth-child(2) > p > a{
		color: #939393;
		margin: 0 0 0 80px;
	}
	/*银屑病百科*/
	.jtd3{
		width: 365px;
		height: 300px;
		margin: 20px 0 0 0;
		position: relative;
		top:-320px;
	}
	.jtd3tbg{
		width: 355px;
		height: 35px;
		background-color: #f1ece9;
		margin: 20px 10px;
	}
	.jtd3tbg > div:first-of-type{
		width: 115px;
		height: 35px;
		background-color: #724226;
		text-align: center;
	}
	.jtd3tbg > div:first-of-type > span{
		color: #fff;
		font-size: 18px;
		line-height: 35px;
	}
	.jtd3 > div:nth-of-type(2){
		color: #939393;
		font-size: 12px;
		font-family: "宋体";
		text-align: center;
	}
	.jtd3 > div:nth-of-type(2) > span{
		background-color: #724226;
		color: #fff;
	}
	.jtd3 p:first-of-type > div{
		width: 50px;
		height: 12px;
		background-color: #724226;
		color: #fff;
	}
	.jtd3tbg  > span{
		font-family: "宋体";
		font-size: 14px;
		position: relative;
		top: -25px;
		left: 320px;
	}
	.jtd3> div:nth-of-type(3){
		width: 160px;
		height: 110px;
		background-color: #724226;
		margin: 10px;
		display: inline-block;
	}
	.jtd3 > div:last-of-type{
		width: 180px;
		height: 90px;
		display: inline-block;
		position: relative;
		top: -25px;
		left: -3px
	}
	.jtd3 > div:last-of-type > span{
		font-family: "宋体";
		font-size: 14px;
		line-height: 30px;
	}
	.jtd3 > div:last-of-type > p{
		color: #939393;
		font-size: 12px;
		font-family: "宋体";
		text-indent: 24px;
		line-height: 22px;
	}
	.jtd3 > div:last-of-type > p > a{
		color:#e2651b;
	}
	.jtd3 > p{
		color: #939393;
		font-size: 12px;
		font-family: "宋体";
		line-height: 22px;
		position: relative;
		left: 10px;
	}
	.jtd3 > p > img{
		position: relative;
		top: -5px;
		margin-right: 5px;
	}
	.jtd3 > p > a{
		color: #939393;
		margin: 0 0 0 80px;
	}
	/*银屑病分期*/
	.jtd4{
		width: 365px;
		height: 300px;
		margin: 20px 0 0 0;
		position: relative;
		top:-640px;
		left: 370px;
	}
	.jtd4tbg{
		width: 355px;
		height: 35px;
		background-color: #f1ece9;
		margin: 20px 10px;
	}
	.jtd4tbg> div:first-of-type{
		width: 115px;
		height: 35px;
		background-color: #724226;
		text-align: center;
	}
	.jtd4tbg div:first-of-type > span{
		color: #fff;
		font-size: 18px;
		line-height: 35px;
	}
	.jtd4 > div:nth-of-type(2){
		color: #939393;
		font-size: 12px;
		font-family: "宋体";
		text-align: center;
	}
	.jtd4 > div:nth-of-type(2) > span{
		background-color: #724226;
		color: #fff;
	}
	.jtd4 > p:first-of-type > div{
		width: 50px;
		height: 12px;
		background-color: #724226;
		color: #fff;
	}
	.jtd4tbg > span{
		font-family: "宋体";
		font-size: 14px;
		position: relative;
		top: -25px;
		left: 320px;
	}
	.jtd4 > div:nth-of-type(3){
		width: 160px;
		height: 110px;
		background-color: #724226;
		margin: 10px;
		display: inline-block;
	}
	.jtd4 > div:last-of-type{
		width: 180px;
		height: 90px;
		display: inline-block;
		position: relative;
		top: -25px;
		left: -3px
	}
	.jtd4 > div:last-of-type > span{
		font-family: "宋体";
		font-size: 14px;
		line-height: 30px;
	}
	.jtd4 > div:last-of-type > p{
		color: #939393;
		font-size: 12px;
		font-family: "宋体";
		text-indent: 24px;
		line-height: 22px;
	}
	.jtd4 > div:last-of-type > p > a{
		color:#e2651b;
	}
	.jtd4 > p{
		color: #939393;
		font-size: 12px;
		font-family: "宋体";
		line-height: 22px;
		position: relative;
		left: 10px;
	}
	.jtd4 > p > img{
		position: relative;
		top: -5px;
		margin-right: 5px;
	}
	.jtd4 > p > a{
		color: #939393;
		margin: 0 0 0 80px;
	}
	.questions{
		width: 209px;
		height: 622px;
		display: inline-block;
		position: relative;
		top: -612px;
	}
	.questions > div:first-child{
		width: 209px;
		height: 35px;
		background-color: #724226;
	}
	.questionsd1 > div{
		margin: 10px 10px;
	}
	.questionsd1 > div > div:first-of-type{
		width: 16px;
		height: 16px;
		border:1px solid #e2651b;
		border-radius: 8px;
		background-color: #e2651b;
		font-size: 14px;
		font-family: "宋体";
		color: #fff;
		text-align: center;
		line-height: 16px;
	}
	.questionsd1 > div > div:nth-of-type(2){
		width: 16px;
		height: 16px;
		border:1px solid #724226;
		border-radius: 8px;
		background-color: #724226;
		font-size: 14px;
		font-family: "宋体";
		color: #fff;
		text-align: center;
		line-height: 16px;
	}
	.questionsd1 > div > p{
		font-size: 12px;
		font-family: "宋体";
		color:#e2651b;
		position: relative;
		top:-15px;
		left: 20px;
	}
	.questionsd1 > div > div:last-of-type{
		width: 156px;
	}
	.questionsd1> div > div:last-of-type > p{
		font-size: 12px;
		font-family: "宋体";
		line-height: 23px;
		position: relative;
		top:-18px;
		left: 20px;
	}
	.questionsd1 > div > p:last-of-type > a{
		color:#e2651b;
	}
	

	/* 公益事业 */
	.gyshiye{
		width: 980px;
		height: 273px;
		margin: 10px auto;
	}
	.gyshiye > div{
		width: 319px;
		height: 273px;
		background-color: #fff;
		display: inline-block;
		margin-left: 5px;
	}
	.gyshiye > div > p:first-of-type{
		font-size: 18px;
		line-height: 18px;
		color: #724226;
		margin-left: 10px;
		margin-top: 20px;
	}
	.gyshiye > div > p:last-of-type{
		font-size: 10px;
		line-height: 18px;
		color: #d3d3d3;
		font-family: "Arial";
		position: relative;
		top: -14px;
		left: 90px;
	}
	.gyd1 > div{
		width: 145px;
		height: 95px;
		background-color: #724226;
		margin: 7px 10px;
		display: inline-block;
	}
	.gyd1 > div:not(:nth-of-type(odd)){
		margin-left: -10px;
	}
	.gyd1 > div > div{
		width: 145px;
		height: 25px;
		font-family: "宋体";
		font-size: 12px;
		background-color: #392113;
		color: #fff;
		text-align: center;
		line-height: 25px;
		position: relative;
		top:70px;
	}
	/* 医院环境 */
	.yyhj{
		width: 980px;
		height: 175px;
		background-color: #fff;
		margin: 10px auto;
	}
	.yyhj > div:first-child{
		width: 105px;
		height: 32px;
		background-color: #724226;
		text-align: center;
		line-height: 32px;
		font-size: 18px;
		color: #fff;
	}
	.yyhjd{
		width: 980px;
		height: 131px;
		border-top: 1px solid #ede7e3;
	}
	.yyhjd > div:first-child{
		margin-left: 0;
	}
	.yyhjd > div{
		width: 187px;
		height: 131px;
		background-color: #9e9e9e;
		margin-top: 10px;
		margin-left: 7px;
		display: inline-block;	
	}
	
	/*结尾部分*/
	.footer{
		width: 100%;
		height: 405px;
		background-color: #724226;
		margin-top:15px; 
		border-bottom: 1px solid #794c31;
		color: white;
		font-size: 14px;
	
	}
	
	.footer>div:first-of-type{
		width: 980px;
		height: 240px;
		margin: 0 auto;
		border-bottom: 1px solid #794c31;
	}
	
	.footer>div:first-of-type>div:first-of-type{
		width: 277px;
		height:240px;
	}
	.footer>div:first-of-type ul{
		display: inline-block;
		text-align: center;
		border-left: 1px dotted #794c31;
		width: 145px;
		height: 157px;
		position: relative;
		top:15px;
		left:65px;
	
	}
	
	.footer li{
	line-height:30px;
	}
	
	.footer>div:first-of-type>ul li:first-of-type{
		font-size:20px ;
		line-height: 40px;
	}
	footer>div:nth-of-type(2){
		
		width: 600px;
		margin: 0 auto;
	}
	
	
	footer>div:nth-of-type(2) ul li{
		width: 600px;
		font-size: 12px;
		color:white;
		line-height: 40px;
		text-align: center;
	}


	/*列表页 */
	.list_content{
		width: 980px;
		height: 1505px;
		margin:10px auto;
	}
	.ld1{
		width: 710px;
		height: 1505px;
		background-color: #fff;
		display: inline-block;
		position: relative;
		top: -117px;
	}
	.ld1_1{
		width: 700px;
		height: 35px;
		border-bottom: 1px solid #f1f1f1;
		font-size: 12px;
		font-family: "宋体";
		color: #b7b7b7;
		line-height: 40px;
		padding-left: 20px;
	}
	.ld1_1 > img{
		position: relative;
		top:-10px;
		margin-right: 5px;
	}
	.ld1> div:not(:first-child){
		width: 692px;
		height: 190px;
		border-bottom: 1px dotted #c8c8c8;
		margin-left: 20px;
	}
	.ld1 > div:not(:first-child) > div:first-child{
		width:210px;
		height:135px;
		background-color: #724226;
		position: relative;
		top: 30px;
		display: inline-block;
	}
	.ld1 > div:not(:first-child) > div:last-child{
		width:430px;
		height:135px;
		display: inline-block;
		margin-left: 30px;
		font-size: 14px;
		font-family: "宋体";
		color:#757575;
		position: relative;
		top: 11px;
	}

	.lastd > p:first-of-type{
		font-size: 12px;
		font-family: "宋体";
		line-height: 22px;
		color:#888888;
		margin: 20px 0;
	}
	.lastd > p:first-of-type a{
		color: #e2651b;
	}
	.lastd> p:last-of-type{
		font-size: 12px;
		font-family: "宋体";
		color:#a6a6a6;
	}
	.lastd  img{

		margin: 0px 10px 5px 0px ;
	}
	.lastd > img:first-child{
		position: relative;
		top: 3px;
	}
	.lastd  > p > img{
		position: relative;
		top: 3px;
	}
	.ld1 > span{
	color: #8c8c8c;
	font-family: "宋体";
	font-size: 12px;
	display: inline-block;
	position: relative;
	top: 60px;
	right: -150px;
	}
	.ld1 > span > div{
		border :1px solid #8c8c8c;
		text-align: center;
		display: inline-block;
		margin-right: 10px;
		padding: 2px;
	}
	.ld1 > span > div > a{
		color: #8c8c8c;
	 }
	/* list_right */
	.list_right{    
		width: 255px;
		height: 1560px;
		display: inline-block;
		margin-left: 3px;
	}
	/* 医院介绍 */
	.lrd1{
		width: 257px;
		height: 418px;
		background-color: #fff;
	}
	.lrd1_1 >img:first-of-type{
		width: 255px;
	}
	.lrd1_1 >p:first-of-type{
		font-size: 12px;
		font-family: "宋体";
		line-height: 22px;
		text-indent: 24px;
		color: #898989;
		margin: 10px;
	}
	.lrd1_1 >p:first-of-type > a{
		color: #e2651b;
	}
	.lrd1_2{
		width: 255px;
		border-top: 1px solid #f1f1f1;
	
	}
	.lrd1_2 p:nth-of-type(odd){
		font-family: "宋体";
		font-size: 12px;
		color: #828282;
	}
	.lrd1_2 p:nth-of-type(even){
		font-family: "[AvantGardeITCbyBT]";
		font-size: 24px;
		color: #e2651b;
	}
	.lrd1_2> div:not(:last-child) > img{
		margin:10px;
	}
	.lrd1_2 > div:first-child > p{
		position: relative;
		top: -55px;
		left: 55px;
	}
	.lrd1_2 > div:nth-child(2) > img{
		position: relative;
		top: -55px;
	}
	.lrd1_2> div:nth-child(2) > p{
		position: relative;
		top: -110px;
		left: 55px;
	}
	.lrd1_2 > div:last-child{
		position: relative;
		top: -100px;
		left: 15px;
		display: inline-block;
	}
	.lrd1_2 > div:last-child > img:first-child{
		margin-right: 5px;
	}

	/* 权威专家 */
	.list_qwzj{
		height: 230px;
		width: 256px;
		background-color: #fff;
		margin-top: 5px;
	}
	.list_qwzj >div:first-child > a{
		position: relative;
		top: -15px;
		left: 15px;
	}
	.list_zhuanjia img{
		margin:0 10px;
		width: 125px;
		height: 138px;
	}
	.list_zhuanjia div{
		width: 90px;
		display: inline-block;
	}
	.list_zhuanjia div > p:first-child{
		font-size: 19px;
		color: #c1b1aa;
		margin-bottom: 5px;
	}
	.list_zhuanjia div > p:nth-child(2){
		font-family: "宋体";
		font-size: 14px;
		color: #724226;
		margin-bottom: 10px;
	}
	.list_zhuanjia div > p:last-child{
		font-family: "宋体";
		font-size: 12px;
		color: #898989;
		line-height: 22px;
	}
	.list_zhuanjia div > p:last-child a{
		color: #e2651b;
	}
	.list_qwzj > div:nth-child(4){
		width: 112px;
		height: 32px;
		background-color: #f7eae2;
		display: inline-block;
		color: #724226;
		text-align: center;
		line-height: 32px;
		margin: 15px 7px;
	}
	.list_qwzj > div:last-child{
		width: 112px;
		height: 32px;
		background-color: #f7eae2;
		display: inline-block;
		color: #724226;
		text-align: center;
		line-height: 32px;
		margin: 15px 7px;
	}
	/* 案例 */
	.list_al{
		width: 256px;
		height: 183px;
		background-color: #fff;
		margin-top: 5px;
	}
	.list_al > div{
		height: 32px;
		font-family: "宋体";
		font-size: 14px;
		text-align: center;
		line-height: 32px;
		border-bottom: 2px solid #e2651b;
	}
	/* 特色疗法 */
	.list_tslf{
		height: 240px;
		width: 256px;
		background-color: #fff;
		margin-top: 5px;
	}
	.list_tslf > a{
		position: relative;
		top: -15px;
		left: 50px;
	}
	.list_tslf > p{
		font-family: "宋体";
		font-size: 14px;
		line-height: 28px;
	}
	.list_tslf > p >img{
		margin:0 5px;
		position: relative;
		top: -8px;
	}
	/* 焦点话题  */
	.list_jdht{
		height: 178px;
		width: 256px;
		background-color: #fff;
		margin-top: 5px;
	}
	.list_jdht > a{
		position: relative;
		top: -15px;
		left: 50px;
	}
	.list_jdht > table{
		width: 256px;
		height: 138px;
	}
	.list_jdht > table td{
		border:1px solid #fff;
		text-align: center;
		color: #fff;
	}
	.tr1 td:first-child{
		background-color:#08b9cb;
	}
	.tr1>td:last-child{
		background-color:#e2651b;
	}
	.tr2 >td{
		background-color:#bd8dbf;
	}
	.tr3 >td{
		background-color:#da4a4a;
	}
	.tr4 >td:first-child{
		background-color:#00b741;
	}
	.tr4 >td:last-child{
		background-color:#0578c1;
	}
	/* 来院路线 */
	.list_right > div:last-child{
		height: 230px;
		width: 256px;
		background-color: #fff;
		margin-top: 5px;
	}
	.list_right > div:last-child > a{
		position: relative;
		top: -15px;
		left: 30px;
	}

	

		/* 文章页 */
	.article{
		width: 980px;
		height: 1505px;
		margin:10px auto;
	}
	.articled1{
		width: 718px;
		height: 1242px;
		background-color: #fff;
		display: inline-block;
		position: relative;
		top: -330px;
	}
	.articled1> div:first-child{
		width: 700px;
		height: 35px;
		border-bottom: 1px solid #f1f1f1;
		font-size: 12px;
		font-family: "宋体";
		color: #b7b7b7;
		line-height: 40px;
		padding-left: 20px;
	}
	.articled1> div:first-child img{
		position: relative;
		top:-11px;
		margin-right: 5px;
	}
	.title{
		width: 718px;
		text-align: center;
		margin: 25px 0;
	}
	.title >p:first-child{
		font-size: 18px;
		color: #724226;
		margin-bottom: 10px;
	}
	.title >p:last-child{
		font-family: "宋体";
		font-size: 12px;
		color: #b0b0b0;
	}
	.content > p{
		font-family: "宋体";
		font-size: 14px;
		color: #898989;
		line-height: 26px;
		text-indent: 28px;
		margin: 0 20px;
	}
	.articled1 >div:nth-child(3){
		width: 653px;
		height: 46px;
		background-color: #f9f9f9;
		margin: 20px auto;
		font-family: "宋体";
		font-size: 14px;
		text-align: center;
		line-height: 46px;
	}
	.articled1 >div:nth-child(3) p:first-child{
		color: #be0000;
		display: inline-block;
	}
	.articled1 >div:nth-child(3) p:last-child{
		color: #575757;
		display: inline-block;
	}
	.button {
		width: 470px;
		margin: 20px auto;
	
	}
	.button > img{
		margin-left: 20px;
	}
	.ud{
		width: 665px;
		margin: 0 auto;
	}
	.ud > span{
		margin-right: 110px;
	}
	.ud > span > img{
		display: inline-block;
	}
	.ud > span >p{
		font-family: "宋体";
		font-size: 14px;
		color: #724226;
		display: inline-block;
	}
	.ud > span >a{
		font-family: "宋体";
		font-size: 14px;
		color: #717171;
		display: inline-block;
	}
	.wxts{
		width: 653px;
		height: 112px;
		margin:20px auto;
		background-color: #f9f9f9;
	}
	.wxts > div:first-of-type{
		width: 364px;
		height: 89px;
		margin: 0 20px;
		position: relative;
		top: 10px;
		display: inline-block;
	}
	.wxts > div:first-of-type >span:first-child{
		font-family: "[MStiffHeiPRC]";
		font-size: 18px;
		color: #724226;
		display: block;
	}
	.wxts > div:first-of-type >span:last-child{
		font-family: "宋体";
		font-size: 12px;
		color: #797979;
		line-height: 20px;
	}
	.wxts > div:first-of-type > span:last-child > div{
		background-color: #724226;
		display: inline-block;
		color: #fff;
	}
	.wxts > img{
		display: inline-block;
		margin: 0 20px;
		position: relative;
		top: 15px;
	}
	.wxts > div:last-child{
		display: inline-block;
	}
	.wxts > div:last-child >p:first-child{
		font-size: 27px;
		color: #724226;
	}
	.wxts > div:last-child >p:nth-child(2){
		font-size: 15px;
		color: #b7b7b7;
	}
	.wxts > div:last-child >p:last-child{
		font-size: 20px;
		color: #b7b7b7;
	}
	.tjyd{
		height: 194px;
		width: 718px;
		border-top: 1px solid #f1f1f1;
	
	}
	.tjyd> div{
		width: 310px;
		height: 155px;
		margin: 30px;
		display: inline-block;
	}
	.tjyd > div:last-child{
		margin-left: 0;
	}
	.tjyd > div > p:first-child{
		font-family: "宋体";
		font-size: 14px;
		color: #724226;
		line-height: 30px;
		font-weight: bold;
		margin-left: 5px;
	}
	.tjyd > div > p:not(:first-child){
		font-family: "宋体";
		font-size: 14px;
		color: #606060;
		line-height: 30px;
		margin-left: 5px;
	}
	.tjyd > div > p > img{
		position: relative;
		top: -10px;
	}
	
	


	
	
	